asgiref==3.7.2
distlib==0.3.7
Django
django-widget-tweaks==1.5.0
filelock==3.13.1
Pillow==10.1.0
platformdirs==4.0.0
psycopg2==2.9.9
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.7
sqlformat
pkginfo
isort
markdown-it-py
docutils
virtualenv
