{% extends 'main.html' %}
{% load static %}

{% block auth %}

<div class="header-bar-auth">
    <img src="{% static 'img/logo.png' %}">
    <h2>Create new account</h2>
</div>

<div class="auth_form">
    <form method="POST" novalidate>
        {% csrf_token %}

        <!-- Register Form -->
        <div class="form-group-auth">
            <i class="fas fa-user" style="color: #0e3f11;"></i>
            <label class="label" style="padding-left: 5px;" for="username">Username</label>
            {{ form.username }}
            <span class="text-danger">{{ form.errors.username }}</span>
        </div>

        <div class="form-group-auth">
            <i class="fas fa-envelope-open-text" style="color: #0e3f11;"></i>
            <label class="label" style="padding-left: 5px;" for="email">Email</label>
            {{ form.email }}
            <span class="text-danger">{{ form.errors.email }}</span>
        </div>

        <div class="form-group-auth">
            <i class="fas fa-key" style="color: #0e3f11;"></i>
            <label class="label" style="padding-left: 5px;" for="password">Password</label>
            {{ form.password1 }}
            <span class="text-danger">{{ form.errors.password1 }}</span>
        </div>

        <div class="form-group-auth">
            <i class="fas fa-key" style="color: #0e3f11;"></i>
            <label class="label" style="padding-left: 5px;" for="password">Confirm Password</label>
            {{ form.password2 }}
            <span class="text-danger">{{ form.errors.password2 }}</span>
        </div>
        <div class="btn-auth">
            <input class="button-auth" type="submit" value="Register">
        </div>
    </form>
    <div class="more">
        <p>Already have an account?</p>
        <a href="{% url 'login' %}">Sign in as user</a>
    </div>
</div>

{% endblock auth %}