{% extends 'main.html' %}

{% block maincol %}
<div class="col_left">
    <div data-region="blocks-left">
      <div class="profile-bar">
          <h2 class="card-title">Hello {{request.user|title}}</h2>
      </div>
      <div class="card-body">
          <div class="card-profile">
              {% include 'profile/profile.html' %}
          </div>
      </div>
    </div>
  </div>

<div class="maincol">
    <div data-region="blocks-right">
        <div class="header-bar-narrow">
            <h1 style="font-size: 25px;">Update Task</h1>
            <a href="{% url 'alltasks' %}">&#10008; Cancel</a>
        </div>
        
        <div class="main-body">
            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                
                <div class="form-group">
                    <label class="label" for="title">Need to do:</label>
                    {{ form.title }}
                    <span class="text-danger">{{ form.errors.title }}</span>
                </div>
                
                <div class="form-group">
                    <label class="label" for="description">Description:</label>
                    {{ form.description }}
                    <span class="text-danger">{{ form.errors.description }}</span>
                </div>
                
                <div class="form-group">
                    <label class="label" for="complete">Complete?</label>
                    {{ form.complete }}
                    <span class="text-danger">{{ form.errors.complete }}</span>
                </div>
                
                <div class="form-group-date">
                    <label class="label" for="date">Deadline:</label>
                    {{ form.date }}
                    <div class="media">
                        {{ form.media }}
                    </div>
                    
                </div>
                
                <input class="button-submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}