{% extends 'main.html' %} 
{% load static %} 

{% block maincol %}
<div class="col_left">
  <div data-region="blocks-left">
    
    <!-- User Info -->
    <div class="profile-bar">
        <h2 class="card-title">Hello {{request.user.first_name|title}} {{request.user.last_name|title}} </h2>
    </div>

    <div class="card-body">
        <div class="card-profile">
            {% include 'profile/profile.html' %}
        </div>
    </div>
  </div>
</div>

<div class="maincol">
  <div data-region="blocks-right">
    <div class="header-bar">
      <div>
        <h2 style="margin-left: 0px; font-size: 30px">
          You have {{count}} incomplete task{{count|pluralize:"s"}}
        </h2>
      </div>
    </div>

    <div class="search-bar">
      <form method="GET">
        <input type="text" name="search-area" value="{{search_input}}" />
        <input class="button-create" type="submit" value="Search" />
      </form>
      <a class="button-create" href="{% url 'create-task' %}">Create Task</a>
    </div>

    <div class="taskbody">
      <table class="tasklist">
        <thead>
          <tr>
            <th style="padding-left: 20px;">Status</th>
            <th>Task Title</th>
            <th>Deadline</th>
            <th style="text-align: center;">Action</th>
          </tr>
        </thead>
  
        <tbody>
          {% for task in alltasks %}
            <tr>
              <td style="padding-left: 35px;">
                {% if task.complete %}
                  <i class="fas fa-check-square" style="color: #008000; font-size: 20px;"></i>
                {% else %}
                  <i class="far fa-square" style="color: #ff0000; font-size: 19px;"></i>
                {% endif %}
              </td>
              <td class="task-title">
                {% if task.complete %}
                  <i><s><a>{{task}}</a></s></i>
                {% else %}
                  <a>{{task}}</a>
                {% endif %}
              </td>
              <td style="font-size: 15px;">{{ task.date }}</td>
              <td style="text-align: center;">
                <a style="padding-right: 10px;" href="{% url 'delete-task' task.id %}">
                  <i class="fas fa-trash" style="color: red; cursor: pointer;"></i>
                </a>
                <a href="{% url 'update-task' task.id %}">
                  <i class="fas fa-edit" style="color: #008000; cursor: pointer;"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>

{% endblock %}

<!-- <table style="width: 30em; height: 5em;" >
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for task in alltasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'update-task' task.id %}">update</a></td>
        <td><a href="{% url 'delete-task' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table> -->
